<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - EmployeeBusinessCard1</title>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <noscript>Please turn on Javascript</noscript>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
